*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header nav{
    min-width: 200px;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
header nav a{
    text-decoration: none;
    outline: none;
    position: relative;
    padding: 0px 5px;
}
header nav li{
    position: relative;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0px;
    cursor: pointer;
    color: black;
    list-style-type: none;
    z-index: 99;
}
header{
    position: relative;
    background: #f2f2f2;
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    min-width: 200px;
}
.toggle-bar-button{
    border: none;
    font-size: 25px;
    background: white;
    padding: 3px 8px;
    margin: 2px;
    border-radius: 2px;
    border: none;
    display: none;
}
.toggle-bar-button i{
    cursor: pointer;
    font-weight: bold;
    color: blue;
}
.display{
    display: none;
}
.closeButton{
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
    z-index: 999;
    padding: 5px 15px;
    cursor: pointer;
}
.closeButton button{
    color: red;
    border: none;
    font-size: 20px;
    background: none;
}
header nav a::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
    height: 0px;
    transform: translate(-50%,-50%);
}
header nav a:hover li{
    color: white;
    /* transition: 0.s; */
}
header nav a:hover::after{
    background-color: black;
    width: 100%;
    height: 100%;
    transition: .3s ease;
}
@media (max-width:350px) {
    header nav a::after{
        left: 0%;
        transform: translateY(-50%);
    }
    header{
        justify-content: flex-end;
    }
    header .nav {
        position: absolute;
        top: 100%;
        left: 5px;
        right: 10px;
    }
    .toggle-bar-button{
        display: inline-block;
    }
    header nav{
        flex-direction: column;
        align-items: normal;
    }
}
@media (min-width:350.1px){
    header .nav {
        display: inline-block;
    }
    .closeButton{
        display: none;
    }
}