*{
    padding:0px ;
    margin: 0px;
    box-sizing: border-box;
}
header{
   background: white; 
   padding: 20px 10px; 
   position: relative;
   position: fixed;
   height: 100vh;
   width: 260px;
   top: 0; 
   /* left: -260px; */
   overflow: hidden;
   box-shadow: 1px 0px 5px 1px #d5d5d5;
   transition: transform .5s ease;
}
main{
    position: relative;
}
.increase_width{
    transform: translateX(0px);
}
#Xmark{
    border: none;
    background: none;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform .8s ease;
}
header nav{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    row-gap: 25px;
    margin-top: 50px;
    letter-spacing: 2px;
    color: gray;
    font-size: 25px;
}

header nav li{
    cursor: pointer;
}

.header-nav .title{
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav .title p{
    font-weight: 600;
    font-size: 22px;
}
.header-nav .title i{
    color: #e80606;
    font-size: 20px;
}
.header-nav .title p span{
    color: #3cb2b2;
}

.header-nav .icon{
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    column-gap: 20px;
    row-gap: 5px;
}
.header-nav .icon a{
    cursor: pointer;
    color: #3cb2b2;
    }
#navToHide a{
    text-decoration: none;
    color: gray;
    min-width: 240px;
}

.toggle-bar i{
    font-weight: bold;
    color: #3cb2b2;
}
.toggle-bar{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 25px;
}
.toggle-bar:hover .fa-bars{
    color: black;
}
.toggle-bar{
    animation-name: ScalAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#navToHide a:hover{
    background: #dddddd;
    color: black;
    transition: all .5s;
    padding-left: 5px;
}
/* #Xmark:hover{
    animation: xmark .5s normal ease;
}
#Xmark:not(:hover){
    animation: xmarkReturn .5s normal ease;
}
@keyframes xmarkReturn {
    0%{
        rotate: 0deg;
    }
    50%{
        rotate:1000deg
    }
}
@keyframes xmark {
    0%{
        rotate: 0deg;
    }
    50%{
        rotate:1000deg
    }
} */
/* animation */
@keyframes ScalAnimation {
    50%{
        transform: scale(1.3);
    }100%{
        transform: scale(1);
    }
}

/* media queries */
@media (max-width:500px){
    header{
        width: 100%;
    }
}
