*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.div input[type='text']{
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px green; */
    border: none;
}
.div input[type='button']{
    width: 120px;
    padding: 15px;
    border-radius: 5px;
    background: none;
    /* box-shadow: 0px 0px 5px green; */
    border: none;
    padding: 15px;
    border-radius: 5px;
    background-color: orangered;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}
.container{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #ccc; */
}
.div{
    background-color: #f0eded;
    padding: 20px;
    border-radius: 10px;
}
.tasks{
    background-color: #f0eded;
    width: 473px;
    min-height: 75px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
}