*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 90vh;
    align-content: center;
}
main{
    width: 600px;
    margin: 0 auto;
}
main img{
    width: 100%;
    display: block;
}
.image-holder .img{
    height: 300px;
    width: 100%;
}
.image-holder{
    position: relative;
}
.image-holder .slide-text{
    position: absolute;
    padding: 3px 5px;
    background: black;
    color: white;
    left: 0px;
    text-transform: capitalize;
    letter-spacing: .5px;
    font-size: 14px;
}
.ImageHolder{
    display: flex;
    gap: 5px;
    overflow: hidden;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.nav .navBtn{
    padding: 3px 5px;
    min-width: 70px;
    background: none;
    border: 1px solid purple;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: math;
    border-radius: 3px;
    cursor: pointer;
}
nav .ImagePosition{
    list-style-type: none;
    text-align: center;
    padding: 0px 5px;
    border: solid 1px purple;
    font-weight: bold;
    font-family: monospace;
    font-size: 15px;
    cursor: pointer;
}
.active{
    background: purple;
    color: antiquewhite;
    border-radius: 3px;
}

@media (max-width:625px){
    main{
        width: auto;
        margin: 0 20px;
    }
    .image-holder .img{
        height: auto;
    }
    main{
        min-width: 300px;
    }
}