*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background: black;
    height: 100vh;
    width: 100vw;
    align-content: center;
}
section{
    background: white;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
}
section p{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 20px;
}
.tabs-btns{
    display: flex;
}
.tabs-btns button{
    background: white;
    border: 1px solid black;
    padding: 5px;
    text-transform: capitalize;
    min-width: 70px;
    cursor: pointer;
}
.tabs-btns button:hover{
    background: gray;
}
article .paragraph{
    border: solid 1px;
    padding: 5px;
}
article button:not(:first-child){
    margin: -1px -1px;
}
article button:first-child{
    margin: -1px 0px;
}
.tabs-btns .active{
    border-top: blue solid 2px;
    color: blue;
    border-bottom: none;
}