*{
    padding: 0px ;
    margin: 0px;
    box-sizing: border-box;
}
main{
    width: 92%;
    margin: 0 auto;
}
.title-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .menu-title{
    FONT-SIZE: 30PX;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    width: fit-content;
    padding-bottom: 10px;
}
header .menu-title::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: brown;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.nav-menu .btn{
    border: solid 1px brown;
    color: brown;
    width: fit-content;
    padding: 1px 15px;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
}
header .nav-menu{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.menu-items .imgDiv{
    width: 200px;
    height: 120px;
    border: solid brown 2px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    cursor: pointer;
}
.menu-items .imgDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.menu-items{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(350px,1fr));
    column-gap: 35px;
    row-gap: 20px;
}
.item .head{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 4px;
    border-bottom: solid 1px #ccc;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .5px;
    text-transform: capitalize;
    cursor: pointer;
}
.item .head span{
    color: brown;
    flex-shrink: 0;
}

.menu-items .item-main-div{
    display: flex;
    gap: 20px;
}

.item .item-info{
    color: gray;
    padding: 12px 0px
}
.item-main-div .item{
    flex: 1;
}

.not-exist{
    font-weight: bold;
    color: red;
    text-transform: capitalize;
    font-size: 20px;
    border-left-style: double;
    padding-left: 5px;
}
.add-outline{
    outline: solid green 1px;
}
.item-main-div{
    max-width: 500px;
}

