*{
    padding: 0px ;
    margin: 0px;
    box-sizing: border-box;
}

header p {
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 30px;
}
.img-holder{
    position: relative;
    border-radius: 50%;
    background: #0093a5;
    height: 80px;
    width: 80px;
    margin: 0 auto
}
.img-holder img{
    position: absolute;
    top: 6px;
    right: 7px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.paragraphs .Name{
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.paragraphs .domain{
    color: #0093a5;
}
main .review{
    padding: 15px;
    box-shadow: 0px 0px 10px 1px gray;
    width: 450px;
    min-height: 260px;
}
main{
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrowBtn{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
i{
    font-size: 14px;
    color: #0093a5;
    cursor: pointer;
}
.awesome-font-div button{
    color: #0093a5;
    border: #0093a5 solid 1px;
    padding: 3px 3px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.review-paragraph{
    color: gray;
    line-height: 20px;
    font-size: 14px;
}
.person-info{
    margin: 12px 0px;
}