*{
    padding: 0px ;
    margin: 0px ;
    box-sizing: border-box;
}
.main-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(./image/home2.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: top;
}
.main-content .modal-project{
    min-width: 500px;
    min-height: 200px;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px gray;
    background: white;
    text-align: center;
    align-content: center;
    
}
.main-content .modal-project p{
    font-weight: bold;
    font-size: 70px;
    text-transform: capitalize;
}
.main-content .modal-project button{
    border: none;
    background-color: #1277a5;
    padding: 6px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(3 169 244 / 21%);
}
.modal .modal-content{
    background: white;
    padding: 10px;
    width: 500px;
    height: 160px;
    position: relative;
}
.modal .modal-content .modal-paragraph{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
.modal .btn-xmark{
    text-align: right;
    padding-right: 10px;
}
.btn-xmark button{
    border: none;
    background: none;
    font-weight: bold;
    font-size: 25px;
    color: #ab0000;
    cursor: pointer;
}
.modal-paragraph p{
    font-weight: bold;
    font-size: 30px;
}
.display{
    display: none;
}

#open-modal:hover{
    color: #008798;
    border: solid 1px black;
    background: none;
}

