div p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.head-title{
    color: black;
    text-transform: capitalize;
}
div .nbr{
    color: green;
}
button{
    background: none;
    border: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
#increment{
    background-color: yellow;
}
#save{
    background-color: black;
    color: white;
}
#dicrement{
    background: green;
}
.btn{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}