div h1{
    color: goldenrod;
    text-align: center;
    text-transform: capitalize;
}
div p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}
.main{
    color: white;
    width: 300px;
    background-color: rgb(3 110 3);
    padding: 30px;
    margin: 0 auto;
    text-align: center;
}
.btn button{
    color: black;
    background-color: goldenrod;
    padding: 10px 20px;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    color: #016f32;
    min-width: 160px;
}
.btn button:first-child{
    margin-bottom: 10px;
}