#input-btn{
    cursor: pointer;
    background-color: #5f9341;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 5px 10px;
}
input[type="text"]{
    border-color: #5f9341;
    border: solid 1px #5f9341;
    padding: 4px 5px;
    display: block;
    margin-bottom: 5px;
    width: 300px;
    height: 30px;
}
input[type="text"]:focus{
    outline-color: #5f9341;
}
ul{
    padding-left: 0px;
    font-weight: bold;
}
li{
    list-style-type: none;
}
li a{
    color:#5f9341 ;
}