*{
    margin: 0px;
    padding: 0px;
}
form{
    text-align: center;
    align-content: center;
    height: 400px;
}
label{
    text-transform: capitalize;
    letter-spacing: 1px;
}
form input{
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px 0px;
    padding: 5px 5px;
}
form .text-holder{
    display: flex;
    justify-content: center;
    gap: 20px
}
form .count-holder{
    position: absolute;
    right: 0;
    top: 100%;
}
.input-div-holder{
    position: relative;
}
.count-holder{
    margin: 2px;
    font-weight: bold;
}
.input-div-holder .progress{
    height: 1px;
    position: absolute;
    background: red;
    display: block;
    top: 100%;
    left: 0;
}